@{
    ViewBag.Title = "p1";
}

<fieldset>
    <legend>User DashBoard</legend>

    @if (Session["UserName"] != null)
    {
        <text>
            Welcome @Session["UserName"].ToString()
    user
        </text>
    }
</fieldset>




<li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>



<li>@Html.ActionLink("Contactos", "Index", "Contactoes")</li>


<li>@Html.ActionLink("Reuniones", "Index", "Reunions")</li>





<li>@Html.ActionLink("ticket", "Index", "tickets")</li>


