@{
    ViewBag.Title = "Administardor";
}

<fieldset>
    <legend>User DashBoard</legend>

    @if (Session["UserName"] != null)
    {
        <text>
            Welcome @Session["UserName"].ToString()
        </text>
    }
</fieldset>






<li>@Html.ActionLink("Usuario", "Index", "UserProfiles")</li>


<li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>



<li>@Html.ActionLink("Contactos", "Index", "Contactoes")</li>


<li>@Html.ActionLink("Reuniones", "Index", "Reunions")</li>




